* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 10rem;
}

li,
ul {
  text-decoration: none;
}

#plant-img {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.main-section {
  display: flex;
  flex-direction: column;
}
